<section>
  <ng-container [formGroup]="currencyFormGroup">
    <mat-form-field>
      <mat-label>Currencies: </mat-label>
      <mat-select (selectionChange)="sendForm()"
                  name="currencyId"
                  formControlName="currencyId">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let curr of Currencies" [value]="curr.id">
          {{curr.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="currencyFormGroup.get('currencyId')?.hasError('required')">
        Currency is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Choose a date: </mat-label>
      <input matInput [matDatepicker]="picker"
                      [min]="minDate"
                      [max]="maxDate"
                      [value]="currencyDate.value"
                      name="currencyDate"
                      formControlName="currencyDate"
                      (dateChange)="sendForm()">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="currencyFormGroup.get('currencyDate')?.hasError('required')">
        Date is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </ng-container>
</section>
